# Виртуальные окружения
.venv*/
venv*/

# Питон
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Логи и данные
*.log
*.sql
*.sqlite
*.db

# ОС
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Docker
data/
*.tar.gz

# Модели ML (кроме финальной)
models/
!services/ml_service/model.pkl

# Временные файлы
temp/
tmp/