version: '3.8'

services:
  ml_service:
    image: car-price-predictor:3
    container_name: ml_service
    ports:
      - "8000:8000"
    networks:
      - ml-network

  requests_service:
    image: requests-service:1
    container_name: requests_service
    depends_on:
      - ml_service
    environment:
      - DOCKER_ENV=true
    networks:
      - ml-network

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
    networks:
      - ml-network
    restart: unless-stopped

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - ./grafana:/var/lib/grafana
    networks:
      - ml-network
    depends_on:
      - prometheus
    restart: unless-stopped

volumes:
  prometheus_data:

networks:
  ml-network:
    driver: bridge
